body{
    font-family: sans-serif;
}

.container{
    width: 320px;
    margin: 0 auto;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 38px;
    background-color: #373c3f;
}

.header__h2{
    padding-top: 12px;
    padding-left: 19px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 12px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 12px;
    box-sizing: border-box;
    background-color: #202529;
}

.navigation__button {
    position: relative;
    height: 20px;
    width: 18px;
    font-size: 8px;
}

.navigation__button i {
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    transition: all .4s linear;
    transform-origin: 2.5px 1px;
}

.navigation__button i:nth-child(2) {
    top: 4px;
}

.navigation__button i:nth-child(3) {
    top: 8px;
}

.navigation__button_opened i:nth-child(1) {
    transform: rotate(45deg);
}

.navigation__button_opened i:nth-child(2) {
    opacity: 0;
}

.navigation__button_opened i:nth-child(3) {
    transform: rotate(-45deg);
}

                                    /*****DROPDOWN MENU START******/
.dropdown-menu{
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    font-family: 'Lato';
    font-size: 12px;
}

.dropdown-menu__list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 183px;
    height: 152px;
    background-color: #fafafa;
    border-right: 1px solid #f3f3f3;
    box-sizing: border-box;
}

.dropdown-menu__list__item{
    border-bottom: 1px solid #f3f3f3;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-menu__list__item:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}

/*.dropdown-menu__list__item:nth-child(n+2):nth-child(-n+5){*/
/*     padding-top: 6px; */
/*     padding-bottom: 13px; */
/*}*/
                                    /*****DROPDOWN MENU END******/

.first-section{
    background-image: url('../img/first-bg.png');
    background-repeat: no-repeat;
    height: 173px;
    margin-bottom: 4px;
}

.first-section__headlines-website{
    line-height: 23px;
    padding-left: 20px;
    padding-top: 12px;
}

.first-section__headlines-website__first-headline,.first-section__headlines-website__second-headline{
    font-family: 'Lato';
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.first-section__headlines-website__website-text{
    padding-left: 3px;
    line-height: 28px;
    font-size: 13px;
    color: #a6d6e0;
    font-weight: 700;
}

.second-section{
    font-family: 'Lato';
}

.second-section__pizza-delivery{
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../img/1.png');
    height: 75px;
    margin-bottom: 2px;
}

.second-section__pizza-delivery__headline{
    padding-left: 64px;
    color: #fff;
    font-size: 21px;
}

.second-section__ua-ux-salads__headline{
    padding-left: 72px;
    color: #fff;
    font-size: 21px;
}

.second-section__desserts__headline{
    padding-left: 81px;
    color: #fff;
    font-size: 21px;
}

.second-section__pizza-delivery__chevron,.second-section__ua-ux-salads__chevron,.second-section__desserts__chevron{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 75px;
    background-color: #acd8ad;
    color: #fff;
}

.fa-chevron-right{
    font-size: 12px;
}

.second-section__ua-ux-salads{
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../img/2.png');
    height: 75px;
    margin-bottom: 2px;
}

.second-section__desserts{
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../img/3.png');
    height: 75px;
}

.subheadlines{
    margin-top: 19px;
    padding-left: 8px;
    font-family: 'Lato';
}

.subheadlines__first-subhead{
    font-size: 20px;
    color: #4c4d50;
}

.subheadlines__caption{
    padding-top: 3px;
    padding-left: 2px;
    font-size: 10px;
    color: #e0e0e2;
}

.second-subheadlines{
    margin-top: 11px;
    height: 37px;
    font-family: 'Lato';
    background-color: #3f4043;
}

.second-subheadlines__second-subhead{
    padding-top: 8px;
    padding-left: 18px;
    font-size: 20px;
    color: #acd8ad;
}

.third-subheadlines{
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin-top: 5px;
    font-family: 'Lato';
}

.third-subheadlines__third-subhead{
    display: inline-block;
    padding-right: 76px;
    padding-top: 8px;
    font-size: 15px;
    color: #4c4d50;
}

.snowflake-img{

padding-top: 6px;
}
                                /********** MAIN MENU STYLES********/
.main-menu{
    margin-top: 14px;
    padding-left: 17px;
    font-family: 'Lato';
    color: #4c4d50;
}

.main-menu__item-first{

}

.main-menu__item-first__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 135px;
}

.main-menu__item-first__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.main-menu__item-first__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.main-menu__item-second{
    margin-top: 6px;
}

.main-menu__item-second__item-name{
     display: inline-block;
     font-size: 14px;
     padding-right: 113px;
 }

.main-menu__item-second__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.main-menu__item-second__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.main-menu__item-third{
    margin-top: 6px;
}

.main-menu__item-third__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 69px;
}

.main-menu__item-third__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.main-menu__item-third__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.main-menu__item-fourth{
    margin-top: 6px;
}

.main-menu__item-fourth__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 86px;
}

.main-menu__item-fourth__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.main-menu__item-fourth__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.fourth-subheadlines{
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin-top: 8px;
    font-family: 'Lato';
}

.fourth-subheadlines__fourth-subhead{
    display: inline-block;
    padding-right: 82px;
    padding-top: 9px;
    font-size: 15px;
    color: #4c4d50;
}

.wine-img{

    padding-top: 6px;
}
                                /********** WINE MENU STYLES********/
.wine-menu{
    margin-top: 14px;
    padding-left: 17px;
    font-family: 'Lato';
    color: #4c4d50;
}

.wine-menu__item-first__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 135px;
}

.wine-menu__item-first__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.wine-menu__item-first__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.wine-menu__item-second{
    margin-top: 6px;
}

.wine-menu__item-second__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 113px;
}

.wine-menu__item-second__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.wine-menu__item-second__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.fifth-subheadlines{
    margin-top: 30px;
    height: 37px;
    font-family: 'Lato';
    background-color: #acd8ad;
}

.fifth-subheadlines__fifth-subhead{
    padding-top: 8px;
    padding-left: 18px;
    font-size: 20px;
    color: #fff;
}

.sixth-subheadlines{
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin-top: 8px;
    font-family: 'Lato';
}

.sixth-subheadlines__sixth-subhead{
    display: inline-block;
    padding-right: 84px;
    padding-top: 9px;
    font-size: 15px;
    color: #4c4d50;
}

.coffee-cup-img{

    padding-top: 6px;
}
                                            /********** COFFEE MENU STYLES********/
.coffee-menu{
    margin-top: 15px;
    padding-left: 17px;
    font-family: 'Lato';
    color: #4c4d50;
}

.coffee-menu__item-first{
    margin-top: 6px;
}

.coffee-menu__item-first__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 135px;
}

.coffee-menu__item-first__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.coffee-menu__item-first__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.coffee-menu__item-second{
    margin-top: 6px;
}

.coffee-menu__item-second__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 113px;
}

.coffee-menu__item-second__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.coffee-menu__item-second__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.coffee-menu__item-third{
    margin-top: 6px;
}

.coffee-menu__item-third__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 69px;
}

.coffee-menu__item-third__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.coffee-menu__item-third__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.coffee-menu__item-fourth{
    margin-top: 6px;
}

.coffee-menu__item-fourth__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 86px;
}

.coffee-menu__item-fourth__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.coffee-menu__item-fourth__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.seventh-subheadlines{
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin-top: 8px;
    font-family: 'Lato';
}

.seventh-subheadlines__seventh-subhead{
    display: inline-block;
    padding-right: 59px;
    padding-top: 13px;
    font-size: 15px;
    color: #4c4d50;
}

.tea-cup-img{

padding-top: 10px;
}

                                        /********** TEA MENU STYLES********/
.tea-menu{
    margin-top: 17px;
    padding-left: 17px;
    font-family: 'Lato';
    color: #4c4d50;
}

.tea-menu__item-first__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 135px;
}

.tea-menu__item-first__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.tea-menu__item-first__item-description{
    margin-top: 8px;
    font-size: 10px;
}

.tea-menu__item-second{
    margin-top: 6px;
}

.tea-menu__item-second__item-name{
    display: inline-block;
    font-size: 14px;
    padding-right: 113px;
}

.tea-menu__item-second__item-price{
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.tea-menu__item-second__item-description{
    margin-top: 8px;
    font-size: 10px;
}
                                                /********** FOOTER STYLES********/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    height: 55px;
    background-color: #acd8ad;
    font-family: 'Montserrat';
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.footer_first-line-text{
    padding-bottom: 6px;
}

